/* CSS RESET
====================================================================================================
====================================================================================================
*/
html, body, div, main, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, button, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, textarea,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video,
::before, ::after {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  box-sizing: border-box; }

/* HTML5 - Older browser support
====================================================================== */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* BODY
====================================================================== */
body {
  line-height: 1; }

/* LISTS - Clear bullets
====================================================================== */
ol, ul {
  list-style: none; }

/* QUOTES
====================================================================== */
blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* TABLES
====================================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 62.5%; }

body {
  font: 1.6rem/1.5 Arial, san-serif;
  background-color: #EEEEEE; }

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0; }
  footer p {
    padding: 2rem;
    background-color: #444444;
    color: #EEEEEE;
    text-align: center; }

header {
  background: rgba(0, 0, 0, 0.02);
  text-align: right; }
  header h1 {
    float: left; }
  header img {
    width: 40%;
    padding-top: 2rem; }
  header nav {
    padding: 4rem; }
    header nav li {
      display: inline-block;
      padding-right: 5rem; }
  header a {
    color: red; }

.forBackground {
  height: 30rem; }

#search form {
  padding-top: 5rem; }

#search label {
  margin: 0 auto;
  display: block;
  background: #222222;
  color: #EEEEEE;
  width: 31rem; }

#search input {
  margin-left: auto;
  margin-right: auto;
  width: 50rem;
  height: 5rem; }

.searchForm {
  text-align: center; }
