/* CSS RESET
====================================================================================================
====================================================================================================
*/
html, body, div, main, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, button, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, textarea,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video,
::before, ::after {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  box-sizing: border-box; }

/* HTML5 - Older browser support
====================================================================== */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* BODY
====================================================================== */
body {
  line-height: 1; }

/* LISTS - Clear bullets
====================================================================== */
ol, ul {
  list-style: none; }

/* QUOTES
====================================================================== */
blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* TABLES
====================================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 62.5%; }

body {
  font: 1.6rem/1.5 Arial, san-serif;
  background-color: #EEEEEE; }

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0; }
  footer p {
    padding: 2rem;
    background-color: #444444;
    color: #EEEEEE;
    text-align: center; }

header {
  background: rgba(0, 0, 0, 0.2);
  text-align: right; }
  header h1 {
    float: left; }
  header img {
    width: 40%;
    padding-top: 2rem; }
  header nav {
    padding: 4rem; }
    header nav li {
      display: inline-block;
      padding-right: 4rem; }
  header a {
    color: #DDD;
    font-size: 2rem; }
    header a:hover {
      color: white; }

.forBackground {
  height: 40rem;
  background-image: url("../images/heroBackground.jpg"); }

.searchForm {
  display: block;
  margin: 0 auto; }

.wrapper {
  width: 130rem; }

#search form {
  padding-top: 5rem;
  width: 50rem;
  margin-left: auto;
  margin-right: auto; }

#search label {
  text-align: left;
  display: block;
  background: #222222;
  color: #EEEEEE;
  width: 31rem; }

#search input {
  display: block;
  height: 6rem;
  width: 100%;
  background: #eee;
  padding: 0 7rem 0 1rem;
  position: relative; }

#search button {
  background-image: url("../images/search.png");
  background-color: transparent;
  text-indent: -999rem;
  width: 5rem;
  height: 5rem;
  position: absolute;
  left: 91rem;
  top: 19rem; }

#results h2 {
  padding-left: 0.3rem;
  margin: 5rem 0 0 35rem;
  font-size: 2rem;
  color: #EEE;
  background: #222;
  width: 25rem; }

#results p {
  text-align: center;
  margin-top: 15rem;
  font-weight: bold;
  font-size: 1.9rem; }

#results a {
  color: #222;
  border: 0.3rem solid #F5A623;
  background: #F5A623;
  padding: 2rem 5rem;
  box-sizing: border-box;
  border-radius: 0.5rem; }
