@import 'base/reset.scss';
@import './base/basesetup.scss';
@import 'base/footer.scss';

header {
  background: rgba(0, 0, 0, 0.02);
  text-align: right;
  h1 {
    float:left;
  }
  img {
    width: 40%;
    padding-top: 2rem;
  }
  nav {
    padding: 4rem;
    li {
      display: inline-block;
      padding-right: 4rem;
    }
  }
  a {
    color: #DDD;
    background: rgba(0, 0, 0, 0.2);
    font-size: 2rem;
    
    &:hover {
      color: white;
    }
  }
}
.forBackground {
  height: 40rem;
  background-image: url("../images/heroBackground.jpg");
}
#search {
  form {
    padding-top: 5rem;
  }
  label {
    margin: 0 auto;
    display: block;
    background: #222222;
    color: #EEEEEE;
    width: 31rem;
  }
  input {
    width: 50rem;
    height: 5rem;
    background: #ccc;
  }
}
.searchForm {
  text-align: center;
}
.wrapper {
  width: 130rem;
}

#results {
  h2 {
    padding-left: 0.3rem;
    margin: 5rem 0 0 35rem;
    font-size: 2rem;
    color: #EEE;
    background: #222;
    width: 25rem;
  }
  p {
    text-align: center;
    margin-top: 15rem;
    font-weight: bold;
    font-size: 1.9rem;
  }
  a {
    color: #222;
    border: 0.3rem solid #F5A623;
    background: #F5A623;
    padding: 2rem 5rem;
    box-sizing: border-box;
    border-radius: 0.5rem;
  }
}
