.forBackground {
  height: 40rem;
  background-image: url("../images/heroBackground.jpg");
}
.searchForm {
  display: block;
  margin: 0 auto;
}
.wrapper {
  width: 85%;
}
.button {
  width: 32rem;
  margin: 8rem auto 5rem auto;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  background: $action-color;
  padding: 2rem 5rem;
  border-radius: 0.5rem;
}
